body{
  font-family: 'Poppins', sans-serif;
}

/* Navbar */
nav{
  background-color: rgb(28,75,130);
}

nav ul li a{
  font-weight: bold;
  font-family: 'Poppins',sans-serif;
  text-decoration: none;
  cursor: pointer;
  color: white;
}

nav a:hover{
  color: rgb(254,105,37);
}

/* Carousel */
.carousel-item{
  width: 100%;
  height: auto;
  background-size: cover;
}
.carousel-inner img {
      width: 100%;
      height: 500px;
      object-fit: cover;
  }


  /*content*/
  .container{
    margin-top:40px;
  }
  .container h2{
    color: rgb(254,105,37);
  }
  .container p{
    color: black;
  }
  .indexcontainer{
    padding: 20px 10px 20px 100px;
  }

/*Cities*/
.card-header{
  background-color: rgb(254,105,37);
}
.card-header a{
  color: white;
  text-decoration: none;
}
.row .col-lg-4{
  margin-top:10px;
}
.row .col-lg-4 a img{
  width:250px;
  height:250px;
  object-fit:cover;
}

.card{
  display:inline-block;
  margin-right: 40px;
  margin-top:20px;
}
.card-body{
  width: 100%;
}
.city-body.blue{
  background-color: rgb(28,75,130);
}
.card.blue{
  background-color: rgb(28,75,130);
}

.mycard{
  width:300px;
}


hr{
  width: 60%;
  margin-left:100px;

}

/* Media Queries */
@media screen and (max-width:1199px){
  .indexcontainer{
    padding: 20px 10px 20px 50px;
  }
  .mycard{
    width:250px;
  }
}
@media screen and (max-width:992px){
  .indexcontainer{
    margin-left: 20px;
  }
}
@media screen and (max-width:767px){
  .indexcontainer{
    margin-left: 20px;
  }

}
@media screen and (max-width:500px){
  .indexcontainer{
    padding: 20px 10px 20px 20px;
  }
  .mycard{
    width:200px;
  }
  .container{

  }
}
